.wrapper {
    padding: 5px;
    width: 100%;
    background-color: rgb(234, 234, 234);

    
    
}


.title {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
    color:  rgb(12, 91, 250);
}
